<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do App</title>
</head>
<body>
    <style>
        * {
        font-family: sans-serif;
        background-color: #FFF;
        }

        body {
        text-align: center;
        }

        h1 {
        font-size: 1.5em;
        }

        .container {
        }

    </style>
        <div class="container">
            <h1>To Do App</h1>
                <form>
                    <form action="/signup" method="post">
                      <input type="text" name="email"></input>
                      <input type="submit" value="Signup"></input>
                    </form>
        </div>
</body>
</html>